body {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 18px;
    
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 70px;
    margin: 0.2em;
    font-weight: 400;
}

h2 {
    margin: 1em 0 0.25em;
    font-weight: 400;
    margin-bottom: 5px;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    /*CUSTOM CURSOR FOR WEBKIT AND GECKO*/
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0U4N0I4NjJDNzAyMTFFNzkwQkNDRUY4MkZFRkM4QzciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0U4N0I4NjNDNzAyMTFFNzkwQkNDRUY4MkZFRkM4QzciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3RTg3Qjg2MEM3MDIxMUU3OTBCQ0NFRjgyRkVGQzhDNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3RTg3Qjg2MUM3MDIxMUU3OTBCQ0NFRjgyRkVGQzhDNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PpDlhqkAAASSSURBVHjavFdZTKNVFD79oayyyiad0rBZDMk0E0AhYDQkGjWQlgdIWAroCz4QMCT6YGZIfPDBJx8kJgbGBATcJuhohvEBZFGWYcZpC8OEJYSINgiTshQKlAK/3/kDpKjsfz3Jx+397/17P875zjm3iu7ublIoFARTiaIYjdGF+e/4bKdLmLe3N2VmZpKPj8/JG3HY20CvIAhPMHUCm8AM8DGexV6UQEhICM3PzxP+kRPhjcPFvb29F0JDQ/2Kiookb8zNzSUMDQ29s7y8XAASBVg3nZcAf/lZTMCXf+bl5fUyDlubnp4mrVZLubm5VF1dTYmJiRqs3waJZ85LYD+spxPgP7u7u/fwwrt9fX00OztLLpeLAgMDqbi4mMLDw9UgcYM8ZIKby26CyITJZJIEtL29TQgLZWVl8bIeBAM9SgC2A3zHYeDD2YUcx7CwMF4Lxmelpwmw/biwsEBTU1MUFBREcD2Njo7ycxMIBQNvAYKnwsH/NfQmfOPv7y9mZ2eLycnJLOVVPHsT4wOOFPAT5mq50vDfLhEEXwwsun7gK0FQGEHsQVxcnFhZWSlGR0fzW3PAa3IQOEuuvIc0/aiqqkpK0dXVVWpra6PJyUn22fNwyv3jCExMTFBMTMy5NPBf9jmy43FXVxc5nU5CvSCbzcbhQihoCetGeE1DHrZrgCMtLU1EXeAQ/LCvg3sYef4nvHRNFg0cZzigal+Ed/YPv896qKmpEZOSkvj5PPboPKGBw9IKGPDSI+BLxDa9oqKCoqKiyG63U0tLC1dRK0i8yiGTUwOHzQV14XuMBj8/v/SysjKKiIig9fV1wpzKy8tJo9GocHgntieduRldQA+/QIyb/f39Us/gss0jkzAajaRSqViQd/D8Cnvh1NBegIAVMFut1gJkhDI1NVUKz87ODqGAUUpKCqfo02tra7nw262RkZHNgYEBGhwcxJqWAgICjob2EpnxOnBLp9MFHNwjmATfgDhNGxsbaWVlpQ973gA2+AWLxUxXr+ouHYIDu8td0mKx2Nvb27mlH3ZR1gYLFC39Jexp5XOYIAQqiwbcrQvIGx8ft3EW8OFKpVIqWNAClZaWskcKsKfhOId7yVCkuC/8vLS0lIc0DGINcJyZBOoEX2hobGwsAx5w1tXV/crzIxro7OyUpVQ+fPjbc9ev37iNvE/mFOX6sLW1JQmzp6eH+JycnJyi4ODgb48QOFc5PMFY5WjhXCE7cJNKLykpofj4eImEr68vdXR00PDw8DrWX+QskksDh7axIQn9D+AVqP9uU1OTdJnh+sB1Ij8/ny+5T2H9a5TycNkJuN2CV/BZ73Jt32xtbaXe3l4pO1ichYWF3COehdc/PdgvWwgcDgfNzMwcmRsMhvcXFxc/zMjIoLy8PKlBmc1mam5u5tJulFL0tG51UXBKxsZKP6wMwBO1Wi3W1taKDQ0N0nWPuycQ4zECfHNy64RavuJBD6Jerxfr6+vFyMhIEWH4xKMEuA64GV/rP+DfnsgOMSEhgb3g+D8JHBg3gy8AG/CXbCL8p3FvQCeUtHBM1lzBsPe3AAMA49xtMXWjxyMAAAAASUVORK5CYII=') 0 0 , auto;
    border: 1px solid black;
  
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    
}

tr {
    height: 20px;
}

td {
    min-height: 20px;
    height: 20px;
    min-width: 20px;;
    width: 20px;
}

input{
    font-family: 'VT323', monospace;
    font-size: 18px;
    border: 1px solid #000;
}

input[type=number] {
    width: 6em;
    font-family: 'VT323', monospace;
    border: 1px solid #000;
    padding-left: 5px;
}

#message{
    min-height: 1.4em; margin:0;
}

#controls{ margin-bottom: 10px; padding-bottom: 10px; }
#controls a{ display: inline-block; cursor: pointer;}
